body {
    background: #f7e8e8;
    font-family: Arial;
    font-size: 20px;
}

section {
    width: 350px;
    margin: 50px auto;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
}

legend {
    text-transform: uppercase;
    font-weight: bold;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input,
select,
button {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
}

button {
    background: #007bff;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.choix {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}